/* $green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c; */

.navbar-wrapper {
  padding: 0px;
  border-bottom: 1px solid lightgrey;
}

.navbar {
  margin: 0 auto 0 auto;
  max-width: 1140px;
  padding: 10px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  align-items: center;
  /* border-bottom: 1px solid lightgrey; */
}

.nav-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 0.95;
  line-height: 0.9;
  text-align: left;
}

.nav-logo > a {
  text-decoration: none;
  color: black;
}

/* .nav-logo > a:hover {
  color: blue;
} */

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.nav-item > a {
  text-decoration: none;
  color: black;
}

.nav-item > a:hover {
  color: #1976d2;
}
